html {
  font-family: "Noto Sans KR", "Roboto";
}

/* 노멀라이즈 */
a {
  color: inherit;
  text-decoration: none;
}

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 라이브러리 */
.con {
  width: 1200px;
  margin: 0 auto;
}

.img-box {
  box-sizing: border-box;
}

.bg_black {
  background-color: black;
}

/* 커스텀 */
.topBar {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid #F3F4F5;
  /* transition: 0.3s; */
  position: fixed;
  top: 0;
  z-index: 999;
}

.topBar .inner {
  display: flex;
  /* background-color: white; */
}

.topBar .inner .logo {
  width: 280px;
  padding-left: 20px;
  text-align: center;
  align-self: center;
  /* border:3px solid gold; */
}

.topBar>.inner>div:nth-child(2) {
  flex-grow: 1;
}

.topBar_right {
  display: flex;
  flex-direction: column;
  /* border:3px solid blue; */
}

/* 탑바_네비게이션바 */
.topBar_right .topBarTnb {
  /* border:3px solid red; */
  padding: 0 6px;
  height: 32px;
}

.topBar_right .topBarTnb a {
  float: right;
  margin: 10px 10px 0 0;
  font-size: 10px;
  color: #5F5D5D;
  transition: 0.3s;
  /* border:3px solid green; */
}

.topBar_right .topBarTnb a:hover {
  color: #CF112B;
}

/* 1차아이템 */
.topBar_right .menuBox {
  position: relative;
}

.topBar_right .menuBox ul {
  display: flex;
  justify-content: end;
}

.topBar_right .menuBox ul li {
  padding: 14.5px 14px;
  transition: 0.3s;
}

.topBar_right .menuBox ul li {
  position: relative;
}

.topBar_right .menuBox ul li a {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #303030;
}

.topBar_right .menuBox ul li:hover a {
  font-weight: bold;
}

/* 1차메뉴 밑줄애니메이션 */
.topBar_right .menuBox ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: red;
  bottom: 2px;
  transition: 0.3s;
  left: 0;
}

.topBar_right .menuBox ul li:hover>a::after {
  width: 100%;
  /* left: 50%;
  transform:translatex(-50%); */
}

/* 2차아이템 */
.topBar .inner .mega {
  position: absolute;
  top: 80px;
  height: 0;
  width: 100%;
  left: 0;
  background-color: rgba(250, 250, 250, 0.98);
  /* border:3px solid red; */
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.topBar .inner .mega.on {
  opacity: 1;
  visibility: visible;
  height: 320px;
}

/* 메가 흰색 배경 */
.topBar .inner .mega .bg-white {
  opacity: 0;
  visibility: hidden;
  width: 50%;
  background-color: (255, 255, 255);
  position: absolute;
  right: 0;
  height: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s;
  /* border:3px solid blue; */
}

.topBar .inner .mega .bg-white.active {
  opacity: 0.65;
  visibility: visible;
  height: 320px;
}

.topBar .inner .mega .megaMenu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  width: 100%;
  height: 0;
  position: absolute;
}

.topBar .inner .mega .megaMenu.active {
  opacity: 1;
  visibility: visible;
  height: 320px;
  transition: 0.5s 0.3s;
  /* 1초딜레이 후 트랜지션 작동하라 */
}

/* 메가메뉴 왼쪽 */
.topBar .inner .mega .megaMenu>div {
  width: 50%;
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: end;
}

/* .topBar .inner .mega  .megaMenu > div > .img-box {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.topBar .inner .mega  .megaMenu > div > .img-box.active {
  opacity: 1;
  visibility: visible;
  height: 290px;
} */

.topBar .inner .mega .megaMenu>div>.mega_sub_txt {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 300px;
}

.topBar .inner .mega .megaMenu>div>.mega_sub_txt>span:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
  padding-top: 6px;
  font-family: "noto sans kr";
  color: #303030;
}

.topBar .inner .mega .megaMenu>div>.mega_sub_txt>span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  font-family: "noto sans kr";
  color: gray;
}

/* 메가메뉴 오른쪽 */
.topBar .inner .mega .megaMenu>ul {
  width: 50%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 30px 36px;
}

.topBar .inner .mega .megaMenu>ul.active {
  opacity: 1;
  visibility: visible;
  height: 320px;
}

.topBar .inner .mega .megaMenu ul li {
  padding: 6px 8px;
  z-index: 10;
  position: relative;
  width: 160px;
}

.topBar .inner .mega .megaMenu ul li a {
  font-size: 14px;
  position: relative;
  color: #303030;
  padding: 6px 0;
  height: 100%;
  width: 300px;
}

.topBar .inner .mega .megaMenu ul li:hover a {
  font-weight: bold;
}

/* 2차메뉴 밑줄애니메이션 */
.topBar .inner .mega .megaMenu ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: red;
  bottom: 2px;
  transition: 0.3s;
  left: 0;
}

.topBar .inner .mega .megaMenu ul li:hover>a::after {
  width: 100%;
}

/* 빈공간 */
.h80 {
  height: 80px;
}

/* 메인슬라이드 */

/* 메인색상 */
:root {
  --swiper-theme-color: red !important;
  --swiper-pagination-color: red !important;
}

.slider-box-1 {
  position: relative;
  /* border:3px solid red; */
  /* width: 200px;
  z-index: -10; */
}

.slider-box-1 .swiper {
  height: 850px;
  /* border:3px solid blue; */
  /* width: 1200px; */
}

.slider-box-1 .swiper .swiper-wrapper {}

.slider-box-1 .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  /* border:3px solid red; */
}

.slider-box-1 .swiper .swiper-wrapper .slide01 {
  background-color: #111;
  ;
}

.slider-box-1 .swiper .swiper-wrapper .slide02,
.slider-box-1 .swiper .swiper-wrapper .slide03,
.slider-box-1 .swiper .swiper-wrapper .slide04 {
  background-color: white;
}

/* 슬라이드 네비게이션바 */
.slider-box-1 .navi_bar {
  position: absolute;
  height: 80px;
  width: 100%;
  /* border:3px solid green; */
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-1 .navi_bar.on {
  opacity: 1;
  visibility: visible;
}

/* 슬라이드버튼 */
/* 슬라이드버튼 위치 */
.slider-box-1 .navigation-wrapper {
  /* border:3px solid gold; */
  height: 0;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-1 .navigation-wrapper.on {
  opacity: 1;
  visibility: visible;
  height: 80px;
}

/* 슬라이드버튼 본체 */
.slider-box-1 .swiper-button-prev,
.slider-box-1 .swiper-button-next {
  position: relative;
  margin-bottom: 46px;
  width: 46px;
  border-radius: 555px;
  transition: 0.3s;
}

.slider-box-1 .swiper-button-prev:hover,
.slider-box-1 .swiper-button-next:hover {
  background-color: #CF112B;
}

/* 슬라이드버튼 콘텐츠 */
.slider-box-1 .swiper-button-prev::after {
  font-size: 18px;
  color: white;
  transition: 0.3s;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-45%, -50%);
}

.slider-box-1 .swiper-button-next::after {
  font-size: 18px;
  color: white;
  transition: 0.3s;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-55%, -50%);
}

/* 페이지네이션 버튼 */
/* 페이지네이션 위치 */
.slider-box-1 .swiper-pagination {
  /* border: 3px solid red; */
  position: absolute;
  height: 80px;
  transform: translateY(16%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-1 .swiper-pagination.on {
  opacity: 1;
  visibility: visible;
}

/* 페이지네이션 버튼 간격 */
.slider-box-1 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

/* 페이지네이션 회색 버튼 */
.slider-box-1 .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, white);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  transition: 0.3s;
}

/* 페이지네이션 빨간 버튼 */
.slider-box-1 .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  /* width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px)); */
  transform: scale(1.8);
  /* 개별 사이즈 조절 없이도 스케일을 통해 블릿버튼이 커지는 효과를 줄 수 있다? */
}

/* 서브슬라이드01 */
.content_1 {
  margin-top: 40px;
  width: 1200px;
  /* border:3px solid green; */
  justify-content: space-between;
}

/* 왼쪽 박스 텍스트 */
.content_1 .left-box {
  align-self: center;
  /* border:3px solid red; */
  height: 331px;
  width: 766.67px;
  padding-left: 40px;
}

.content_1 .left-box div:nth-child(1)>.title {
  font-size: 32px;
  font-weight: 700;
}

.content_1 .left-box div:nth-child(1)>.redline {
  width: 100px;
  height: 6px;
  background-color: #CF112B;
  margin: 20px 0 44px 0;
}

.content_1 .left-box div:nth-child(1)>span {
  font-size: 16px;
  font-weight: 400px;
}

/* 더보기 */
.content_1 .left-box div:nth-child(2) {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.content_1 .left-box div:nth-child(2) a:hover {
  color: #757575;
}

.content_1 .left-box div:nth-child(2) a .icon {
  font-size: 13px;
  left: 50px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

/* 서브슬라이드 내용 */
.slider-box-2 {
  position: relative;
  /* border:3px solid red; */
  width: 393.33px;
}

/* 슬라이드 내 하얀부분 */

/* 하얀색의 영역을 넓히려면?? ->중간 색상을 넣어서 부드럽게 하라 */
.slider-box-2 .wh-gradation div {
  height: 100px;
  width: 393.33px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(180deg, #fff 0%, rgba(217, 217, 217, 10%) 100%);
  z-index: 1;
  /* border:3px solid red; */
}

.slider-box-2 .wh-gradation div:nth-child(1) {
  top: 0;
}

.slider-box-2 .wh-gradation div:nth-child(2) {
  bottom: 0;
  transform: rotate(-180deg);
}

.slider-box-2 .swiper {
  /* border:3px solid blue; */
  height: 610px;
}

/* 왜 슬라이드가 정사각형이 안되는 건가?? */
/* slidePerview의 영향때문에??  */
.slider-box-2 .swiper .swiper-slide {
  height: 300px;
  /* border:3px solid red; */
}

/* 호버가 자연스럽지 못하다 왜일까? */
.slider-box-2 .navigation-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-2:hover .navigation-wrapper {
  opacity: 1;
  visibility: visible;
}

/* 슬라이드버튼 위치 */
.slider-box-2 .swiper-button-prev {
  top: 94%;
  left: 50%;
  transform: translatex(-50%);
}
.slider-box-2 .swiper-button-next {
  top: 8%;
  left: 50%;
  transform: translatex(-50%);
}

/* 슬라이드버튼 각도 */
.slider-box-2 .swiper-button-prev::after,
.slider-box-2 .swiper-button-next::after {
  transform: rotate(-90deg);
  font-size: 20px;
}

/* 슬라이드 콘텐츠 내 텍스트 */
.slider-box-2 .swiper .swiper-slide {
  position: relative;
}

.slider-box-2 .swiper .swiper-slide div>span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: 700px;
  font-family: "Noto Sans KR";
  letter-spacing: -0.05em;
  line-height: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

/* 페이지네이션 회색 버튼 */
.slider-box-2 .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, gray);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.8);
  transition: 0.3s;
}

/* 페이지네이션 빨간 버튼 */
.slider-box-2 .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
}

/* content_2 */
.content_2 {
  margin-top: 40px;
  margin-bottom: 400px;
}
/* 양옆으로 늘어나는 동작을 가두기 위한? */
.content_2 .inner {
  /* border:3px solid red; */
  width: 1200px;
  position: relative;
}
.content_2 .inner div {
  gap:5px;
}
.content_2 .inner div .card-box {
  width: 393.33px;
  height: 393.33px;
}
/* 공통 왼쪽: 이응노아카데미 */
.content_2 .inner .card-box {
position: relative;
border:1px solid lightgray;
transition: 0.3s;
background-color: white;
} 
/* 공통 오른쪽: 아트랩대전 */
.content_2 .inner .card-box02 {
  position: absolute;
  right:0;
  top:0;
}
.content_2 .inner .card-box01:hover,
.content_2 .inner .card-box02:hover {
  width: 796.67px;
}
/* 공통: 카드박스 프론트  */
.content_2 .inner .card-box .card-box_front {
transition: 0.3s;
opacity: 1;
visibility: visible;
}
.content_2 .inner .card-box:hover .card-box_front {
  opacity: 0;
  visibility: hidden;
}
/* 공통: 배경 */
.content_2 .inner .card-box .card-box_front div {
  width: 390px;
  height:390px;
  background-color: white;
  transition: 0.3s
}
/* 공통: 프론트텍스트 */
.content_2 .inner .card-box .card-box_front span {
  position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
  font-size: 48px;
  font-weight: 500;
  font-family: "Noto Sans KR";
  line-height: 70px;
  letter-spacing: -0.05em;
}
/* 공통 배너 */
.content_2 .inner .card-box .card_item .card-item_bn {
  width: 575px;
  height: 393.33px;
  transition: 0.3s;
}
.content_2 .inner .card-box .card_item div {
 position: absolute;
 top:0;
 opacity: 0;
 transition:  0.3s;
 visibility: hidden;
}
.content_2 .inner .card-box:hover .card_item01 div,
.content_2 .inner .card-box:hover .card_item02 div {
opacity: 1;
visibility: visible;
position: relative;
z-index: 1;
}

/* 개별 배너 */
.content_2 .inner .card-box01 .card_item01 .card-item_text {
  /* border:3px solid blue; */
  flex-grow: 1;
}
.content_2 .inner .card-box01 .card_item01 .card-item_bn {
 width: 575px;
 /* border:3px solid green; */
}
/* 왼쪽 레드바 */
.content_2 .inner .card-box01 .card_item01 .red_bar {
  width: 8px;
  background-color: #CF112B;
}
.content_2 .inner .card-box02 .card_item02 .card-item_text {
  /* border:3px solid blue; */
  flex-grow: 1;
}
/* 오른쪽 레드바 */
.content_2 .inner .card-box02 .card_item02 .red_bar {
  position: absolute;
  top:0;
  width:8px;
  background-color: #CF112B;
}

/* 이응노소장품이미지 */
/* 포지션을 활용해서 이미지를 중간에 고정시킴 */
.content_2 .inner .card-box_img {
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  border: 1px dashed lightgray;
 
}
/* 자연스럽게 사라지게 하기 위한(?)원본 */
/* .content_2 .inner .card-box_img a {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
} */


