html {
  font-family: "Noto Sans KR", "Roboto";
}

/* 노멀라이즈 */
a {
  color: inherit;
  text-decoration: none;
}

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 라이브러리 */
.con {
  width: 1200px;
  margin: 0 auto;
}

.img-box {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
}

.bg_black {
  background-color: black;
}

/* 커스텀 */
.topBar {
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  border-bottom: 1px solid #F3F4F5;
  /* transition: 0.3s; */
  position: fixed;
  top: 0;
  z-index: 999;
}

.topBar .inner {
  display: flex;
  /* background-color: white; */
}

.topBar .inner .logo {
  width: 280px;
  padding-left: 20px;
  text-align: center;
  align-self: center;
}

.topBar>.inner>div:nth-child(2) {
  flex-grow: 1;
}

.topBar_right {
  display: flex;
  flex-direction: column;
}

/* 탑바_네비게이션바 */
.topBar_right .topBarTnb {
  padding: 0 6px;
  height: 32px;
}

.topBar_right .topBarTnb a {
  float: right;
  margin: 10px 10px 0 0;
  font-size: 10px;
  color: #5F5D5D;
  transition: 0.3s;
}

.topBar_right .topBarTnb a:hover {
  color: #CF112B;
}

/* 1차아이템 */
.topBar_right .menuBox {
  position: relative;
}

.topBar_right .menuBox ul {
  display: flex;
  justify-content: end;
}

.topBar_right .menuBox ul li {
  padding: 14.5px 14px;
  transition: 0.3s;
}

.topBar_right .menuBox ul li {
  position: relative;
}

.topBar_right .menuBox ul li a {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #303030;
}

.topBar_right .menuBox ul li:hover a {
  font-weight: bold;
}

/* 1차메뉴 밑줄애니메이션 */
.topBar_right .menuBox ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: red;
  bottom: 2px;
  transition: 0.3s;
  left: 0;
}

.topBar_right .menuBox ul li:hover>a::after {
  width: 100%;
  /* left: 50%;
  transform:translatex(-50%); */
}

/* 2차아이템 */
.topBar .inner .mega {
  position: absolute;
  top: 80px;
  height: 0;
  width: 100%;
  left: 0;
  background-color: rgba(250, 250, 250, 0.98);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.topBar .inner .mega.on {
  opacity: 1;
  visibility: visible;
  height: 320px;
}

/* 메가 흰색 배경 */
.topBar .inner .mega .bg-white {
  opacity: 0;
  visibility: hidden;
  width: 50%;
  background-color: (255, 255, 255);
  position: absolute;
  right: 0;
  height: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s;
}

.topBar .inner .mega .bg-white.active {
  opacity: 0.65;
  visibility: visible;
  height: 320px;
}

.topBar .inner .mega .megaMenu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  width: 100%;
  height: 0;
  position: absolute;
}

.topBar .inner .mega .megaMenu.active {
  opacity: 1;
  visibility: visible;
  height: 320px;
  transition: 0.5s 0.3s;
  /* 0.5초딜레이 후 트랜지션 작동하라 */
}

/* 메가메뉴 왼쪽 */
.topBar .inner .mega .megaMenu>div {
  width: 50%;
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: end;
}

/* .topBar .inner .mega  .megaMenu > div > .img-box {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.topBar .inner .mega  .megaMenu > div > .img-box.active {
  opacity: 1;
  visibility: visible;
  height: 290px;
} */

.topBar .inner .mega .megaMenu>div>.mega_sub_txt {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 300px;
}

.topBar .inner .mega .megaMenu>div>.mega_sub_txt>span:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
  padding-top: 6px;
  font-family: "noto sans kr";
  color: #303030;
}

.topBar .inner .mega .megaMenu>div>.mega_sub_txt>span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  font-family: "noto sans kr";
  color: gray;
}

/* 메가메뉴 오른쪽 */
.topBar .inner .mega .megaMenu>ul {
  width: 50%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 30px 36px;
}

.topBar .inner .mega .megaMenu>ul.active {
  opacity: 1;
  visibility: visible;
  height: 320px;
}

.topBar .inner .mega .megaMenu ul li {
  padding: 6px 8px;
  z-index: 10;
  position: relative;
  width: 160px;
}

.topBar .inner .mega .megaMenu ul li a {
  font-size: 14px;
  position: relative;
  color: #303030;
  padding: 6px 0;
  height: 100%;
  width: 300px;
}

.topBar .inner .mega .megaMenu ul li:hover a {
  font-weight: bold;
}

/* 2차메뉴 밑줄애니메이션 */
.topBar .inner .mega .megaMenu ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: red;
  bottom: 2px;
  transition: 0.3s;
  left: 0;
}

.topBar .inner .mega .megaMenu ul li:hover>a::after {
  width: 100%;
}

/* 빈공간 */
.h80 {
  height: 80px;
}

/* 메인슬라이드 */
/* 메인색상 */
:root {
  --swiper-theme-color: red !important;
  --swiper-pagination-color: red !important;
}

.slider-box-1 {
  position: relative;
  /* width: 200px;
  z-index: -10; */
}

.slider-box-1 .swiper {
  height: 850px;
  /* width: 1200px; */
}

.slider-box-1 .swiper .swiper-wrapper {}

.slider-box-1 .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.slider-box-1 .swiper .swiper-wrapper .slide01 {
  background-color: #111;
}

.slider-box-1 .swiper .swiper-wrapper .slide02,
.slider-box-1 .swiper .swiper-wrapper .slide03,
.slider-box-1 .swiper .swiper-wrapper .slide04 {
  background-color: white;
}

/* 슬라이드 네비게이션바 */
.slider-box-1 .navi_bar {
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-1 .navi_bar.on {
  opacity: 1;
  visibility: visible;
}

/* 슬라이드버튼 */
/* 슬라이드버튼 위치 */
.slider-box-1 .navigation-wrapper {
  height: 0;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-1 .navigation-wrapper.on {
  opacity: 1;
  visibility: visible;
  height: 60px;
}

/* 슬라이드버튼 본체 */
.slider-box-1 .swiper-button-prev,
.slider-box-1 .swiper-button-next {
  position: relative;
  margin-bottom: 38px;
  width: 46px;
  border-radius: 555px;
  transition: 0.3s;

}

.slider-box-1 .swiper-button-prev:hover,
.slider-box-1 .swiper-button-next:hover {
  background-color: #CF112B;
}

/* 슬라이드버튼 콘텐츠 */
.slider-box-1 .swiper-button-prev::after,
.slider-box-1 .swiper-button-next::after {
  font-size: 18px;
  color: white;
  transition: 0.3s;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-45%, -50%);
}

.slider-box-1 .swiper-button-next::after {
  left: 55%;
  transform: translate(-55%, -50%);
}

/* 페이지네이션 버튼 */
/* 페이지네이션 위치 */
.slider-box-1 .swiper-pagination {
  position: absolute;
  height: 60px;
  transform: translateY(16%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-1 .swiper-pagination.on {
  opacity: 1;
  visibility: visible;
}

/* 페이지네이션 버튼 간격 */
.slider-box-1 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

/* 페이지네이션 회색 버튼 */
.slider-box-1 .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, white);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  transition: 0.3s;
}

/* 페이지네이션 빨간 버튼 */
.slider-box-1 .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  /* width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px)); */
  transform: scale(1.8);
  /* 개별 사이즈 조절 없이도 스케일을 통해 블릿버튼이 커지는 효과를 줄 수 있다? */
}

/* 서브슬라이드01 */
.content_1 {
  margin-top: 40px;
  width: 1200px;
  justify-content: space-between;
}

/* 왼쪽 박스 텍스트 */
.content_1 .left-box {
  align-self: center;
  height: 331px;
  width: 766.67px;
  padding-left: 30px;
}

.content_1 .left-box div:nth-child(1)>.title {
  font-size: 28px;
  font-weight: 700;
}

.content_1 .left-box div:nth-child(1)>.redline {
  width: 100px;
  height: 4px;
  background-color: #CF112B;
  margin: 20px 0 44px 0;
}

.content_1 .left-box div:nth-child(1)>span {
  font-size: 16px;
  font-weight: 400px;
}

/* 더보기 */
.content_1 .left-box div:nth-child(2) {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.content_1 .left-box div:nth-child(2) a:hover {
  color: #757575;
}

.content_1 .left-box div:nth-child(2) a .icon {
  font-size: 13px;
  left: 50px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

/* 서브슬라이드 내용 */
.slider-box-2 {
  position: relative;
  width: 393.33px;
}

/* 슬라이드 내 하얀부분 */

/* 하얀색의 영역을 넓히려면?? ->중간 색상을 넣어서 부드럽게 하라 */
.slider-box-2 .wh-gradation div {
  height: 100px;
  width: 393.33px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(180deg, #fff 0%, rgba(217, 217, 217, 10%) 100%);
  z-index: 1;
}

.slider-box-2 .wh-gradation div:nth-child(1) {
  top: 0;
}

.slider-box-2 .wh-gradation div:nth-child(2) {
  bottom: 0;
  transform: rotate(-180deg);
}

.slider-box-2 .swiper {
  height: 610px;
}

/* 왜 슬라이드가 정사각형이 안되는 건가?? */
/* slidePerview의 영향때문에??  */
.slider-box-2 .swiper .swiper-slide {
  height: 300px;
}

/* 호버가 자연스럽지 못하다 왜일까? */
.slider-box-2 .navigation-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slider-box-2:hover .navigation-wrapper {
  opacity: 1;
  visibility: visible;
}

/* 슬라이드버튼 위치 */
.slider-box-2 .swiper-button-prev {
  top: 94%;
  left: 50%;
  transform: translatex(-50%);
}
.slider-box-2 .swiper-button-next {
  top: 8%;
  left: 50%;
  transform: translatex(-50%);
}

/* 슬라이드버튼 각도 */
.slider-box-2 .swiper-button-prev::after,
.slider-box-2 .swiper-button-next::after {
  transform: rotate(-90deg);
  font-size: 20px;
}

/* 슬라이드 콘텐츠 내 텍스트 */
.slider-box-2 .swiper .swiper-slide {
  position: relative;
}

.slider-box-2 .swiper .swiper-slide div>span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 700px;
  font-family: "Noto Sans KR";
  letter-spacing: -0.05em;
  line-height: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

/* 페이지네이션 회색 버튼 */
.slider-box-2 .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, gray);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.8);
  transition: 0.3s;
}

/* 페이지네이션 빨간 버튼 */
.slider-box-2 .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
}

/* content_2 */
.content_2 {
  margin-top: 40px;
}
.content_2-2 {
  margin-top: 10px;
}
.content_2-3 {
  margin-top: 10px;
  margin-bottom: 600px;
}
.content_3 {
  margin-top: 10px;
  position: relative;
}
/* 양옆으로 늘어나는 동작을 가두기 위한? */
.content .inner {
  width: 1200px;
  position: relative;
}
.content_2 .inner > div{
  gap:5px;
}
.content_2-3 .inner > div{
  gap:5px;
}
.content_3 .inner > div{
  gap:10px;
  justify-content: end;
}
.content .inner > div .card-box {
  width: 393.33px;
  height: 393.33px;
}

/* 공통 왼쪽: 이응노아카데미 */
.content .inner .card-box {
position: relative;
border:1px solid lightgray;
/* 아래쪽 코드 부분이 부드럽게 사라지는 부분인가? */
transition: 1s;
background-color: white;
overflow: hidden;
} 
/* 공통 오른쪽: 아트랩대전 */
.content_2 .inner .card-box02 {
  position: absolute;
  right:0;
  top:0;
}
.content_2 .inner .card-box01:hover,
.content_2 .inner .card-box02:hover {
  width: 796.67px;
}

/* 소식/홍보 */
.content_2-3 .inner .card-box {
  position: absolute;
  right:0;
  top:0;
}
.content_2-3 .inner .card-box01 {
  right: 33.6%;
}
.content_2-3 .inner .card-box01:hover {
  width: 796.67px;
  height: 590px;
}

.content_2-3 .inner .card-box01:hover + .card-box03 {
height: 590px;
width: auto;
}

/* 공통: 카드박스 프론트  */
.content_2 .inner .card-box .card-box_front {
transition: 0.3s;
opacity: 1;
visibility: visible;
}
.content_2 .inner .card-box:hover:not(.card-box03) .card-box_front {
  opacity: 0;
  visibility: hidden;
}
/* 공통: 배경 */
.content_2 .inner .card-box .card-box_front div {
  width: 390px;
  height:390px;
  /* background-color: white; */
  transition: 0.3s
}
/* 공통: 프론트텍스트 */
.content_2 .inner .card-box .card-box_front span {
  position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
  font-size: 32px;
  font-weight: 500;
  font-family: "Roboto";
  line-height: 40px;
  letter-spacing: -0.05em;
  /* transition: 1s; */
}

/* 여기 하기! */
.content_2-3 .inner .card-box01 + .card-box03 .card-box_front span {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: 3s;
}
.content_2-3 .inner .card-box01:hover + .card-box03 .card-box_front span {
  position: absolute;
  top:auto;
  bottom:0;
  transition: 1s;
}
.content_2-3 .inner .card-box:not(.card-box01) .card-box_front span:nth-child(1) {
  left:41.4%;
}
.content_2-3 .inner .card-box:not(.card-box01) .card-box_front span:nth-child(3) {
  left:59.8%;
}
.content_2-3 .inner .card-box:not(.card-box01) .card-box_front span img {
  width: 50%;
}
/* 공통 배너 */
.content_2 .inner .card-box .card_item .card-item_bn {
  width: 575px;
  height: 393.33px;
  transition: 0.3s;
}
.content_2 .inner .card-box .card_item > div {
 position: absolute;
 top:0;
 opacity: 0;
 visibility: hidden;
 transition:  1s;
 height:100%;
 width:100%;
}
.content_2 .inner .card-box:hover .card_item01 > div,
.content_2 .inner .card-box:hover .card_item02 > div{
opacity: 1;
visibility: visible;
position: absolute;
top:0;
left:0;
z-index: 1;
}
/* 아트앤 컬쳐 배너 안의 라인 효과 */
.content_2-2 .inner .card-box .card_item .card-item_bn {
  position: relative;
}
.content_2-2 .inner .card-box .card_item .card-item_bn .greenline {
 position: absolute;
 right:0;
 bottom: 17px;
 width: 0;
 height: 8px;
 transition: 2s;
 background-color: #31A753;
 z-index: 1;
}
.content_2-2 .inner .card-box:hover .card_item .card-item_bn .greenline {
width: 240px;
height: 8px;
}
.content_2-2 .inner .card-box .card_item .card-item_bn .blueline {
  position: absolute;
  right:0;
  bottom: 9px;
  width: 0;
  height: 8px;
  transition: 2s;
  background-color: #3E81F0;
  z-index: 1;
 }
 .content_2-2 .inner .card-box:hover .card_item .card-item_bn .blueline {
 width: 360px;
 height: 8px;
 }
 .content_2-2 .inner .card-box .card_item .card-item_bn .redline {
  position: absolute;
  right:0;
  bottom: 1px;
  width: 0;
  height: 10px;
  transition: 2s;
  background-color: #CF112B;
  z-index: 1;
 }
 .content_2-2 .inner .card-box:hover .card_item .card-item_bn .redline {
 width: 500px;
 height: 8px;
 }
/* 공통: 이미지 */
.content_2 .inner .card-box .card_item .card-item_bn a > .img-box > img {
  /* width: 100%; */
  height:393px;
  /* 아래의 속성들이 작았다 커지는 현상을 막아준다 */
  object-fit: cover;
  object-position: 0 0;
  position:absolute;
  right:0;
  }
  .content_2-3 .inner .card-box .card_item .card-item_bn a > .img-box > img {
    /* width: 100%; */
    height:580;
    /* 아래의 속성들이 작았다 커지는 현상을 막아준다 */
    object-fit: cover;
    object-position: 0 0;
    position:absolute;
    right:0;
    opacity: 0;
    visibility: hidden;
    transition: 1.2s;
    }
    .content_2-3 .inner .card-box:hover .card_item .card-item_bn a > .img-box > img {
      opacity: 1;
      visibility: visible;
      height:580px;
    }
/* 공통: 카드아이템 텍스트 */
.content_2 .inner .card-box .card_item .card-item_text {
  padding: 40px 22px;
}
.content_2 .inner .card-box .card_item .card-item_text span {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  font-family: "Noto Sans KR";
}
.content_2 .inner .card-box .card_item .card-item_text span:nth-child(2),
.content_2 .inner .card-box .card_item .card-item_text span:nth-child(3) {
  font-weight: 600;
}
/* 왼쪽에 위치한 배너 */
.content_2 .inner .card-box01 .card_item01 .card-item_text {
  flex-grow: 1;
}
.content_2 .inner .card-box01 .card_item01 .card-item_bn {
 width: 575px;
 position:absolute;
 right:0;
}
/* 오른쪽에 위치한 배너 */
.content_2 .inner .card-box02 .card_item02 .card-item_text {
  flex-grow: 1;
  text-align:right;
}
.content_2 .inner .card-box02 .card_item02 .card-item_bn {
  width: 575px;
  position:absolute;
  left:0;
 }
/* 레드바 */
.content_2 .inner .card-box01 .card_item01 .red_bar,
.content_2 .inner .card-box02 .card_item02 .red_bar {
  width: 8px;
  background-color: #CF112B;
}
.content_2-2 .inner .card-box01 .card_item01 .red_bar {
  background-color: transparent;
}
.content_2-3 .inner .card-box01 .card_item01 .red_bar {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
}

/* 이응노소장품이미지 */
/* 포지션을 활용해서 이미지를 중간에 고정시킴 */
/* content_2는 첫번째 줄, 세번째 줄 소장품 모두 해당 */
.content_2 .inner .card-box_img {
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  border: 1px dashed lightgray;
}
/* 왜 left:0이 적용이 안될까? */
.content_2-3 .inner .card-box_img {
  position: absolute;
  top: 0;
  left:16.5%;
  border: 1px dashed lightgray;
}
.content_3 .inner .card-box_img {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dashed lightgray;
}
.content_2 .inner .card-box_img.hide,
.content_3 .inner .card-box_img.hide {
  opacity: 0;
}

.content_2-3 .inner .card-box02 .card_item02 .red_bar {
  width: 0;
  height: 8px;
}

/* 아트숍 */
.content_3 .inner > div .card-box03 {
  width: 796.67px;
  height: 393.33px;
  transition: 1s;
}
/* 아트숍 카드박스 프론트  */
.content_3 .inner > div .card-box .card-box_front {
  /* transition: 0.5s 0.3s; */
  opacity: 1;
  visibility: visible;
  }

  .content_3 .inner > div .card-box.hover .card-box_front {
    opacity: 0;
    visibility: hidden;
  }
 
  /* 아트숍 배경 */
  .content_3 .inner > div .card-box .card-box_front > div {
    height:390px;
    background-color: white;
    transition: 0.3s;
  }
  .content_3 .inner > div .card-box .card-box_front > div:hover {
    /* color: #b7b7b7; */
  }
  
  /* 아트숍 프론트텍스트 */
  .content_3 .inner > div .card-box .card-box_front span {
    position: absolute;
    top:40px;
    left: 30px;
    font-size: 80px;
    font-weight: 500;
    font-family: 'Roboto';
    line-height: 94px;
    letter-spacing: -0.03em;
    cursor: pointer;
    z-index: 1;
  }
  .content_3 .inner > div .card-box .card-box_front > div > div > span:nth-child(2) {
    left: 140px;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 1.35;
  }
  /* 카드박스 프론트 라인 */
  .content_3 .inner > div .card-box03 .card-box_front .b-line {
    position: absolute;
    top:112px;
    left: 0px;
    width: 0;
    height:1px;
    background-color: #111;
    transition: 0.6s;
  }
  .content_3 .inner > div .card-box03 .card-box_front:hover .b-line {
    width: 290px;
  }

/* 호버시 아트숍 슬라이드 등장 */
.content_3 .inner > div .card-box03.hover {
  width: 1200px;
  height: 590px;
}
.content_3 .inner > div .card-box03 .shop {
  position: absolute;
  top:0;
  left: 0;
  height: 590px;
  /* width: 1200px; */
}
.content_3 .inner .card-box03.hover .shop {
  opacity: 1;
  visibility: visible;
  height: 590px;
}
.content_3 .inner .card-box03 .shop > .box {
  position: relative;
}
/* 아트숍 콘텐츠 내부 텍스트 */
.content_3 .inner .card-box03 .shop .card-item_text {
  width: 403px;
  opacity: 0;
  visibility: hidden;
}
.content_3 .inner > div .card-box03 .shop .card-item_text .main_text span {
  position: absolute;
  top:40px;
  left: 30px;
  font-size: 80px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 0.7;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: 0.3s;
}
.content_3 .inner > div .card-box03 .shop .card-item_text .main_text:hover span {
  border-bottom: 1px solid ;
 }
.content_3 .inner > div .card-box03 .shop .card-item_text .main_text > span:nth-child(2) {
  top:110px;
  left: 75px;
  font-weight: 400;
  font-size: 72px;
  line-height: 0.7;
}
.content_3 .inner > div .card-box03 .shop .card-item_text .bottom .b-line {
  position: absolute;
  top:240px;
  left:100px;
  height: 0;
  width: 1px;
  background-color: #111;
  transition: 1.6s 0.3s;
}
.content_3 .inner > div .card-box03.hover .shop .card-item_text .bottom .b-line {
  height: 357px ;
  width: 1px;
}
/* 텍스트 호버시 */
.content_3 .inner > div .card-box03 .shop .card-item_text .main_text {
  color: #303030;
  transition: 0.3s;
}


/* 더보기 */
.content_3 .inner > div .card-box03 .shop .card-item_text .bottom .more {
  position: absolute;
  bottom: 40px;
  left:124px;
  transition: 1s 0.3s;
  opacity: 0;
  visibility: hidden;
}
.content_3 .inner > div .card-box03.hover .shop .card-item_text .bottom .more {
  opacity: 1;
  visibility: visible;
}
.content_3 .inner > div .card-box03 .shop .card-item_text .bottom .more:hover a {
  color: #757575;
}
.content_3 .inner > div .card-box03 .shop .card-item_text .bottom .more a .icon {
  font-size: 13px;
  left: 50px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

/* 슬라이드 박스 */
.content_3 .inner > div .card-box03 .shop .slider-box-3  {
  position: relative;
  height: 590px;
  width: 797px;
  text-align: right;
}
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper {
  height: 590px;
  width: 797px;
  transition: 0.5s 0.3s;
  opacity: 0;
  visibility: hidden;
}
.content_3 .inner > div .card-box03.hover .shop .card-item_text,
.content_3 .inner > div .card-box03.hover .shop .slider-box-3 .swiper {
  opacity: 1;
  visibility: visible;
}
/* 슬라이드 내용 */
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper .swiper-slide {
  height: 530px;
  background-color: white;
}
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper .swiper-slide .img-box img {
 height: 530px;
 object-fit: cover;
}

/* 해당 슬라이드 호버시 등장하는 검은배경과 텍스트 */
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper .swiper-slide .bg {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper .swiper-slide .bg_text {
  position: absolute;
  bottom: 0;
  right:0;
  color: white;
  text-align: right;
  padding: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper .swiper-slide:hover .bg_text {
  opacity: 1;
  visibility: visible;
}
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper .swiper-slide .bg_text div:nth-child(2) {
  font-size: 30px;
}
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper .swiper-slide:hover .bg {
  background-color: rgba(30, 30, 30, 0.6);
}

/* 슬라이드버튼 위치 */
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-button-prev,
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-button-next {
  bottom: 0;
  right:0;
  left: auto;
  top:auto;
  width: 60px;
  height: 60px;
  background-color: #b7b7b7;
}
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-button-prev {
  right:60px;
}
/* 슬라이드버튼 호버했을 때 */
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-button-prev:hover,
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-button-next:hover {
  background-color: #CF112B;
}
/* 슬라이드버튼 화살표 색상 */
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-button-prev::after,
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-button-next::after {
  font-size: 24px;
  color: white;
}

/* 페이지네이션 버튼 */
.content_3 .inner > div .card-box03 .shop .slider-box-3 .swiper-pagination {
  position: absolute;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E0E0;
}

