html {
  font-family: "Noto Sans KR", "Roboto";
}

/* 노멀라이즈 */
a {
  color:inherit;
  text-decoration: none;
}
body, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* 라이브러리 */

.con {
  width: 1200px;
  margin: 0 auto;
}
.img-box {
  box-sizing: border-box;
}
.bg_black {
  background-color: black;
}

/* 커스텀 */
.topBar {
  height: 80px;
  width: 100%;
  background-color: rgba(255,255,255);
  border-bottom: 1px solid #F3F4F5;
  /* transition: 0.3s; */
  position: fixed;
  top:0;
}

.topBar .inner {
display: flex;
/* background-color: white; */
}
.topBar .inner .logo {
width: 280px;
text-align: center;
align-self: center;
/* border:3px solid gold; */

}
.topBar > .inner > div:nth-child(2) {
  flex-grow: 1;
} 
.topBar_right {
  display: flex;
  flex-direction: column;
  /* border:3px solid blue; */
}
/* 탑바_네비케이션바 */
.topBar_right .topBarTnb {
  /* border:3px solid red; */
  padding: 0 6px;
  height: 32px;
}
.topBar_right .topBarTnb a {
  float: right;
  margin:10px 10px 0 0;
  font-size:10px;
  color: #5F5D5D;
  transition: 0.3s;
  /* border:3px solid green; */
}
.topBar_right .topBarTnb a:hover {
  color: #CF112B;
}

/* 1차아이템 */
.topBar_right .menuBox {
  position: relative;
}
.topBar_right .menuBox ul {
  display: flex;
  justify-content: end;
}
.topBar_right .menuBox ul li {
padding: 14.5px 16px;
transition:0.3s;
}
.topBar_right .menuBox ul li  {
  position:relative;
}
.topBar_right .menuBox ul li a {
  display:block;
  justify-content:center;
  align-items:center;
  font-size: 14px;
  color:#303030;
}
.topBar_right .menuBox ul li:hover a  {
font-weight: bold;
}
/* 1차메뉴 밑줄애니메이션 */
.topBar_right .menuBox ul li a::after {
  content:"";
  position:absolute;
  height:2px;
  width:0;
  background-color: red;
  bottom:2px;
  transition:0.3s;
  left:0;
}
.topBar_right .menuBox ul li:hover >a::after {
  width: 100%;
  /* left: 50%;
  transform:translatex(-50%); */
}

/* 2차아이템 */
.topBar .inner .mega {
position: absolute;
 top:80px;
 height: 0;
 width:100%;
 left: 0;
 background-color:rgba(250, 250, 250, 0.98);
 /* border:3px solid red; */
 z-index: -1;
 visibility: hidden;
 transition: 0.3s;
 box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1) ;
}
.topBar .inner .mega.on {
  opacity: 1;
 visibility:visible;
 height: 320px;
}
.topBar .inner .mega .bg-white {
  opacity: 0;
  visibility: hidden;
  width: 50%;
  background-color: (255, 255, 255);
  position: absolute;
  right:0;
  height:0;
  top:0;
  z-index: -2;
  transition: 0.3s;
  /* border:3px solid blue; */
}
.topBar .inner .mega .bg-white.active {
  opacity: 0.5;
  visibility: visible;
  height: 320px;
}
.topBar .inner .mega .megaMenu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  width: 100%;
  height: 0;
  transition: 0.3s;
  position: absolute;
  height: 0;
}
.topBar .inner .mega  .megaMenu.active {
  opacity: 1;
  visibility: visible;
  height: 320px;
} 
/* 메가메뉴 왼쪽 */
.topBar .inner .mega  .megaMenu > div {
  width:50%;
  height: 100%;
  padding: 30px 0;
  display:flex;
  justify-content: end;

}
.topBar .inner .mega  .megaMenu > div > .img-box {
  
  transition: 0.3s
}
.topBar .inner .mega  .megaMenu > div > .img-box.active {
  height: 290px;
}

.topBar .inner .mega  .megaMenu > div > .mega_sub_txt {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 300px;
}
.topBar .inner .mega .megaMenu > div > .mega_sub_txt > span:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
  padding-top: 6px;
  font-family: "noto sans kr";
  color:#303030;
}
.topBar .inner .mega  .megaMenu > div > .mega_sub_txt > span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  font-family: "noto sans kr";
  color:gray;
}

/* 메가메뉴 오른쪽 */
.topBar .inner .mega  .megaMenu > ul {
  width: 50%;
  height:0;
  opacity: 0;
  visibility: hidden;
  padding: 30px 36px;
}
.topBar .inner .mega  .megaMenu > ul.active {
  opacity: 1;
  visibility: visible;
  height: 320px;
}
/* .topBar .inner .mega  .megaMenu > .menu_item {
  background-color:rgba(255, 255, 255, 0.9);
} */

.topBar .inner .mega  .megaMenu ul li {
padding:6px 8px;
z-index: 10;
position: relative;
width: 130px;
}
.topBar .inner .mega  .megaMenu ul li a {
  font-size: 14px;
  position: relative;
  color: #303030;
  padding: 6px 0;
  height: 100%;
  width: 300px;

}
.topBar .inner .mega  .megaMenu ul li:hover a {
 font-weight: bold;
}
/* 2차메뉴 밑줄애니메이션 */
.topBar .inner .mega  .megaMenu ul li a::after {
  content:"";
  position:absolute;
  height:2px;
  width:0;
  background-color: red;
  bottom:2px;
  transition:0.3s;
  left:0;
}
.topBar .inner .mega .megaMenu ul li:hover > a::after {
  width: 100%;
}
